$background: #2a323c;
$buttonColor: #04a2b3;
$singinBlocColor: #323c48;
$inputColor: #3b4654;
$errormessage: #ee5353;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: Poppins, "sans-serif";
    overflow: hidden;
}
a {
    text-decoration: none;
    color: white;
}
.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}
.disabled {
    opacity: 0.7;
    &:hover {
        cursor: no-drop;
    }
    .submitButton:hover {
        cursor: no-drop;
    }
}

.HomePage {
    display: flex;
    .left {
        display: flex;
        width: 31%;
        height: 100vh;
        flex-direction: column-reverse;
        justify-content: space-between;
        transform: translateX(0);
        .profile .left {
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 100%;
            padding: 0 19px;
            width: 100%;
            justify-content: flex-start;
        }
    }
}


.inpt {
    outline: none;
    border-radius: 8px;
    border: none;
    background: #3c393f;
    color: white;
}
.popup {
    z-index: 2;
    width: 192px;
    height: 174px;
    background: #252329;
    color: white;
    left: 11vh;
    top: 42vh;
    border: 1px solid #3c393f;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px #0000000d;
    position: absolute;
    border-radius: 12px;
    padding: 10px 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.035em;
    animation: popupanim 0.2s linear forwards;
    .bloc {
        display: flex;
        padding: 0 15px;

        p {
            margin-left: 11px;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .red {
        color: #eb5757;
    }
    .transition {
        height: 1px;
        width: 100%;
        background: #3c393f;
        margin: 11.5px 0;
    }
    .selected {
        background: #3c393f;
        border-radius: 8px;
    }
}
.nonePopup {
    animation: inversepopupanim 0.2s linear forwards;
}

@keyframes popupanim {
    0% {
        opacity: 0;
        transform: translate(15vh, 23vh);
        transform: translate(36vh, 23vh);
    }
    100% {
        transform: translate(15vh, 23vh);
        opacity: 1;
    }
}
@keyframes inversepopupanim {
    0% {
        transform: translate(15vh, 23vh);
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 0;
        transform: translate(15vh, 23vh);
        transform: translate(36vh, 23vh);
        display: none;
    }
}
.createChannelZone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 33;
    border-radius: 24px;
    color: white;
    padding: 10px 28px;
    width: 100%;
    height: 100%;
    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 5;
        opacity: 0.4;
    }
    .createChannelBloc {
        background: #120f13;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 33;
        border-radius: 24px;
        color: white;
        padding: 10px 28px;
        width: 389px;
        height: 271px;

        .inputs {
            h3 {
                font-weight: bold;
                font-size: 18px;
                line-height: 25px;
                letter-spacing: -0.035em;
                text-transform: uppercase;
                color: #f2f2f2;
            }
            form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 191px;
                .channelNameInput {
                    padding: 8px 15px;
                }
                textarea {
                    margin: 0px;
                    width: 384px;
                    height: 84px;
                    padding: 4px 0 0px 15px;
                    resize: none;
                    max-width: 374px;
                    font-family: Poppins, "sans-serif";
                }
                .submit{
                    display: flex;
                    justify-content: flex-end;
                    input{
                        background: #2F80ED;
                        border: none;
                        outline: none;
                        color: white;
                        border-radius: 6px;
                        width: 80px;
                        height: 28px;
                    }
                }
            }
        }
    }
}
.closeLeftPartParent{
    position: absolute;
    right: -44px;
    top: 4px;
    background: rgb(18, 15, 19);
    width: 38px;
    height: 38px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.none {
    display: none;
}
.vibrationInput{
    animation: vibrationInput 0.4s linear forwards;
    border: 1px solid rgba(255, 0, 0, 0.313);
}
@keyframes vibrationInput {
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(5px);
    }
    40%{
        transform: translateX(-10px);
    }
    60%{
        transform: translateX(10px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0);
    }
}